@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bangers&display=swap');

:root {
  --bg-background: #fafce0;
  --purple: #4a314d;
  --purple-disabled: #6b6570;
  --dark-purple: #1a090d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-background);
}

p {
  font-family: 'ABeeZee', sans-serif;
  margin-bottom: 0.75rem;
}

h1,
h2,
h3,
a,
nav p {
  font-family: 'Bangers', cursive;
  color: var(--purple);
  letter-spacing: 3px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 2.25rem;
  padding: 2.25rem 1rem;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
  font-size: 24px;
}

a {
  text-decoration: none;
  font-size: 2rem;
  transition: text-shadow 0.2s ease-in-out;
}

a:hover {
  text-shadow: 0 0 2px var(--purple);
}

hr {
  width: 60vw;
  margin: 2.5rem auto;
  height: 2px;
  border: none;
  background-color: var(--purple-disabled);
}

main {
  width: 70vw;
  margin: 0 auto;
}

footer {
  padding: 2rem 0;
  border-top: 2px solid var(--purple);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.disabled {
  color: var(--purple-disabled);
}

.perfil {
  display: flex;
  background-color: #c6d55c;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
}

.foto {
  width: 250px;
  aspect-ratio: 1;
}

.video {
  width: 65vw;
  aspect-ratio: 16/9;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  margin-top: 2rem;
}

.contato {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.endereco {
  font-family: 'ABeeZee', sans-serif;
  color: var(--dark-purple);
  font-size: 1.25rem;
}

.mapa {
  width: 35vw;
  aspect-ratio: 16/9;
  border-radius: 8px;
  box-shadow: 8px 8px 16px #4b324e88;
}

.formulario {
  width: 100%;
}

label {
  font-family: 'ABeeZee', sans-serif;
  margin-left: 1rem;
}

input,
textarea,
button {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.25rem;
  color: var(--dark-purple);
}

input::placeholder,
textarea::placeholder {
  color: #c6d55c;
  font-family: 'ABeeZee', sans-serif;
}

input,
textarea {
  border: 1px solid var(--dark-purple);
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-purple);
  color: #fff;
}

.campos-form {
  margin-bottom: 1rem;
}

.separacao {
  display: flex;
  align-items: center;
}

.fotos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 250px;
}

.fotos img {
  aspect-ratio: 1;
  border: 2px solid var(--dark-purple);
  border-radius: 8px;
}

.lista {
  list-style: upper-roman;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  font-family: 'ABeeZee', sans-serif;
}

.lista li {
  font-size: 1.25rem;
  transition: 0.3s ease-in-out;
}

.lista li:hover {
  font-size: 1.75rem;
}






/*! estilização de efeitos  */

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
